@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-custom-button-gray: #6D6D6D80;
  
  --color-custom-button-border-gray: #70635C;

  --color-custom-font-gray: #908F8F;

  --color-custom-bg: #FFFAEF;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html, body, #__next {
  height: 100%;
}

body {
  color: var(--foreground);
  background-color: #f7ecea;
  /*background: var(--background);*/
  font-family: "Playfair Display", Arial, Helvetica, sans-serif;
}

.text-outline {
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}